#!/usr/bin/make -f
# -*- makefile -*-

# Auxiliary variables
pkgname=hfsprogs
tmpdir=debian/$(pkgname)
shrdir=$(tmpdir)/usr/share/$(pkgname)
docdir=$(tmpdir)/usr/share/doc/$(pkgname)
mansec=man8
mandir=$(tmpdir)/usr/share/man/$(mansec)


# CFLAGS

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

###

configure: configure-stamp
configure-stamp:
	dh_testdir

	# Add here commands to configure the package.
	ln -sf debian/patches
	quilt push -a || test $$? = 2

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE) -f Makefile.lnx

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	ln -sf debian/patches
	[ ! -f Makefile.lnx ] || $(MAKE) -f Makefile.lnx clean
	quilt pop -a -R || test $$? = 2

	# remove quilt remains
	rm -f   patches
	rm -rf .pc

	# Add here commands to clean up after the build process.
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/hfsprogs.
	install -m 644 newfs_hfs.tproj/hfsbootdata.img $(shrdir)/hfsbootdata
	install -m 755 newfs_hfs.tproj/newfs_hfs   $(tmpdir)/sbin/mkfs.hfsplus
	install -m 755 fsck_hfs.tproj/fsck_hfs     $(tmpdir)/sbin/fsck.hfsplus
	install -m 644 newfs_hfs.tproj/newfs_hfs.8 $(mandir)/mkfs.hfsplus.8
	install -m 644 fsck_hfs.tproj/fsck_hfs.8   $(mandir)/fsck.hfsplus.8

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
